{% extends "base.html" %}
{% block title %}data input page{% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="card mb-3">
        <img src="{{data[3]}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{data[1]}}</h5>
          <p class="card-text">{{data[2]}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-warning me-md-2" type="button">수정</button>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            삭제
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">blog delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/blogdelete/{{data[0]}}">
          <button type="button" class="btn btn-primary">Delete</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}